body{
  background-image: url(background.jpg);
  margin:0px;
}
.img2{
  position:relative;
  margin:10px 25% 20px 25%;
  width:50%;
  height:400px;
  text-align: center;
}
nav{
background-color: black;
height: 65px;
margin: 0px;
width:100%;
}
header{
background-color: #e6e877;
width: 80%;
opacity:0.9;
margin-left: 10%;
margin-right: 10%;
position:relative;
}
.title{
font-size: 40px;
font-family: 'Segoe UI Historic', monospace;
color: black;
padding: 10px;
position: relative;
top: 0px;
width:100%;
text-align: center;
}
.introduction{
font-size: 27px;
font-family: 'Segoe UI Historic', monospace;
width: 70%;
position: relative;
top: 5px;
color: black;
margin-left: 15%;
margin-right: 15%;
text-align: center;
padding-bottom: 20px;
}
h2{
font-family: 'Segoe UI Historic', monospace;
text-align: center;
position: relative;
margin-left: 18%;
margin-right: 18%;
top:0px;
color:white;
font-size: 35px;
opacity:0.9;
width:65%;
background-color: #d45258;
}
section{
margin: 50px 10% 0px 10%;
width:80%;
position: relative;
}
.p1{
background-color: #d45258;
margin: 0px 15% 75px 15%;
font-family: 'Segoe UI Historic', monospace;
color: white;
font-size: 20px;
text-align: center;
top: 0px;
width: 70%;
margin-bottom: 50px;
position: relative;
opacity:0.9;
padding:20px 10px 0px 10px;
}
.p2{
background-color: #e6e877;
font-family: 'Segoe UI Historic', monospace;
color: black;
font-size: 35px;
text-align: center;
left: 200px;
position: relative;
}
.col-md{
  text-align: center;
}
  .rowcontainer {
  width : 95%;
  position: relative;
  margin-left: 11%;
  margin-right: 11%;
}
h4{
    padding-bottom: 15px;
}
.card {
box-shadow: 0 4px 8px 0 rgb(246, 247, 7);
transition: 0.3s;
border-radius: 10px;
color: white;
width:100%;
background-color:black;
margin-right: 40px;
}
.card:hover {
box-shadow: 0 8px 16px 0 rgb(246, 247, 7);
}
.container {
text-align: center;
}
.prefooter{
text-align: center;
width:30%;
padding:10px 10px 0px 10px;
margin:20px 35% 30px 35%;
}
footer{
width:100%;
font-size: 15px;
text-align: center;
font-family: 'Arial';
height: 80px;
background-color: black;
color: white;
padding-top: 30px;
padding-bottom: 20px;
margin-top: 20px;
}
@media (max-width: 768px) {
 .img2{
   width:90%;
   margin-left: 30px;
   margin-right: 5px;
   margin-top: 30px;
 }
.introduction{
width:90%;
margin-left: 30px;
padding-bottom:20px;
}
.p1{
  width:90%;
  margin-left: 30px;
  padding-bottom:20px;
}
header{
  width:100%;
  margin-left:0px;
  margin-right:10px;
  margin-top:50px;
}
section{
  width:100%;
  margin-left:0px;
  margin-right:10px;
}
.rowcontainer{
  margin-left: 30px;
  margin-right: 30px;
  width:100%;
}
.col-md{
padding:0px;
}
.prefooter{
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
}
}
@media (max-width: 576px) {
  .introduction{
  width:90%;
  margin-left: 20px;
  margin-right: 0px;
  padding-bottom:20px;
  }
  header{
    width:100%;
    Margin-left:0px;
    margin-right:10px;
  }
  .img2{
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 0px;
  }
  .p1{
  width:100%;
  margin-left: 0px;
  margin-right: 10px;
  padding-bottom:20px;
  position:relative;
  top:30px;
}
.rowcontainer{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  width:100%;
}
.card{
    margin-top: 20px;
}
.prefooter{
  width:60%;
  margin-left: 20%;
  margin-right: 20%;
}
}
